apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  labels:
    app: alertmanager
    app.kubernetes.io/name: alertmanager
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 9093
      targetPort: http
  selector:
    app: alertmanager
