# Staging environment values
global:
  namespace: greenwatt-staging
  environment: staging

backend:
  replicas: 2
  image:
    tag: "staging"

  resources:
    requests:
      cpu: 150m
      memory: 192Mi
    limits:
      cpu: 400m
      memory: 384Mi

frontend:
  replicas: 2
  image:
    tag: "staging"

hpa:
  backend:
    enabled: true
    minReplicas: 2
    maxReplicas: 5

ingress:
  host: greenwatt-staging.local

monitoring:
  prometheus:
    enabled: true
  grafana:
    enabled: true
